*.sdf
*.opensdf
*.suo
ipch
x64
[Dd]ebug
[Rr]elease
anvik/x64
anvik/[Dd]ebug
anvik/[Rr]elease
anvik-gui/bin
anvik-gui/obj
anvik-clr/x64
anvik-run/x64
anvik-gpu/x64
anvik-sim/x64
anvik-evaluator/x64
anvik-run-paper-1/x64

bin/
lib
anvik/obj
anvik-run/obj
anvik-gpu/obj
anvik-sim/obj
anvik-evaluator/obj
anvik-run-paper-1/obj

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
